body {
  background-color: #c7aec4;
  font-family: "Roboto", serif;
}

.weather-app {
  background: #faf1f9;
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px (rgba 65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 30px;
}

header {
  border-bottom: 1px solid #f8cc07;
  padding: 0 0 30px 0;
}

.search-form-input {
  background-color: #f0e9e9;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}

.search-form-button {
  font-size: 16px;
  font-weight: 400;
  background-color: #020965;
  padding: 15px 30px;
  border: none;
  margin-left: 5px;
  border-radius: 6px;
  color: white;
}

main {
  padding: 30px 0;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-city {
  color: #110d13;
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}

.weather-app-details {
  color: #020965;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}

.weather-app-details strong {
  color: #f74e0b;
}

.weather-app-temperature-container {
  display: flex;
}

.weather-app-icon {
  font-size: 38px;
  width: 88px;
  height: 88px;
}

.weather-app-temperature {
  font-size: 88px;
  line-height: 88px;
  font-weight: bold;
  color: #020965;
}

.weather-app-unit {
  margin-top: 6px;
  font-size: 28px;
}

.weather-forecast {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

.weather-forecast-date {
  text-align: center;
  font-size: 16px;
  color: #020965;
  line-height: 20px;
  margin-bottom: 10px;
  opacity: 0.5;
}

.weather-forecast-icon {
  font-size: 38px;
  text-align: center;
}

.weather-forecast-temperatures {
  text-align: center;
  color: #020965;
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}

.weather-forecast-temperature-min {
  color: #020965;
  opacity: 0.5;
  font-size: 16px;
}

footer {
  border-top: 1px solid #f8cc07;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: #020965;
}

a {
  color: purple;
}